@import 'variables';

header > h1 {
  color: $red_color;
}
footer > h1 {
  color: blue;
}
h2 {
  color: green;
}

.card-course-item {
  margin-top: 16px;
}
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}